CORE_AZURE_OPENAI_ENDPOINT=
CORE_AZURE_OPENAI_API_KEY=
CORE_AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=

CORE_AZURE_OPENAI_GPT_ENDPOINT=
CORE_AZURE_OPENAI_GPT_API_KEY=
CORE_AZURE_OPENAI_GPT_DEPLOYMENT_NAME=